* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
    margin: 10px auto;
    width: 420px;
    height: 365px;
    box-shadow: 0 5px 10px rgb(68, 68, 68);
}

.inputs {
    height: 65px;
    padding: 5px 10px;
    background-color: #464749;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: right;
}

.archiv {
    width: 100%;
    background: inherit;
    border: none;
    outline: none;
    color: rgb(185, 185, 185);
    font-size: 20px;
    text-align: right;
    font-family: monospace;
}

.archiv::placeholder {
    color: rgb(185, 185, 185);
}
.result {
    width: 100%;
    background: inherit;
    border: none;
    outline: none;
    color: white;
    font-size: 35px;
    text-align: right;
    /* font-family: monospace; */
}

.result::placeholder {
    color: #fff;
}

.buttons {
    margin: 0;
    padding: 0;
    height: 300px;
    display: table;
}

.btn {
    width: 60px;
    height: 60px;
    border: 0.01em solid #464749;
    font-size: 20px;
    outline: none;
    color: white;
    vertical-align: middle;
}

.btn:nth-child(29) {
    border-bottom-left-radius: 5px;
}

.btn:nth-child(34) {
    border-bottom-right-radius: 5px;

}

.btn-zero {
    width: 120px;
}

.btn-orange {
    background: #fe9f02;
}

.btn-numb {
    background: #767778;
}

.btn-func {
    background: #5a5b5c;
}

.btn:hover {
    filter: brightness(85%);
    -webkit-filter: brightness(85%);
}

.btn-image {
    margin-top: 4px;
}